---
BasedOnStyle: WebKit
AllowShortLoopsOnASingleLine: false
FixNamespaceComments: true
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: "DisarrayPCH.hpp"
    Priority: -1
  - Regex: "<(vulkan|glm).*>"
    Priority: 2
  - Regex: '<[\w\/-_]+[\.\/][\w\/-_]+>'
    Priority: 3
  - Regex: '<[\w\/-_]+>'
    Priority: 4
  - Regex: '"[\w\/-_]*"'
    Priority: 5
NamespaceIndentation: Inner
Standard: c++20
TabWidth: 4
UseTab: Always
ColumnLimit: 150
