[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = https://github.com/edvn0/glm
[submodule "ThirdParty/VulkanMemoryAllocator"]
	path = ThirdParty/VulkanMemoryAllocator
	url = https://github.com/edvn0/VulkanMemoryAllocator.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = git@github.com:edvn0/imgui.git
[submodule "App/ThirdParty/argparse"]
	path = App/ThirdParty/argparse
	url = https://github.com/edvn0/argparse
[submodule "ThirdParty/entt"]
	path = ThirdParty/entt
	url = https://github.com/skypjack/entt.git
[submodule "ThirdParty/fmt"]
	path = ThirdParty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "ThirdParty/json"]
	path = ThirdParty/json
	url = https://github.com/nlohmann/json
[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest
[submodule "ThirdParty/magic_enum"]
	path = ThirdParty/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "ThirdParty/SPIRV-Cross"]
	path = ThirdParty/SPIRV-Cross
	url = git@github.com:edvn0/SPIRV-Cross.git
[submodule "ThirdParty/glslang"]
	path = ThirdParty/glslang
	url = https://github.com/edvn0/glslang
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "ThirdParty/libtinyfiledialogs"]
	path = ThirdParty/libtinyfiledialogs
	url = git@github.com:edvn0/libtinyfiledialogs.git
[submodule "ThirdParty/assimp"]
	path = ThirdParty/assimp
	url = git@github.com:assimp/assimp.git
